body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
}

.banner-wrapper {
  top:0;
  position: fixed;
  background-color: rgb(139, 255, 145);
  display: flex;
  height: 4.1vh;
  overflow: hidden;
}

.banner {
  width: 100vw;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
}

@keyframes marquee {
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 812px) {
  .banner-wrapper{
    height: 6vw;
  }
}

.container {
  position: relative;
  width: 100%;

}

.content-wrapper {
  position: fixed;
  padding-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  display: grid;

  grid-template-rows: 10vh 1fr;
}

.nav-top {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  height: 10vh;
  position: fixed;
  top: 3.3vh;
  width: 100%;
}

.nav-top.about {
  background-color: rgb(0,255,255);
}

.menu-title {
  text-align: center;
  font-size: 4vh;
}

.menu-exit {
  text-align: center;
  padding-left: 20%;
}

.content{
  position: relative;
  top: 13.3vh;
  width: 100vw;
  z-index: -1;
  height: 100vh;
}

.content.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-left {
  background: linear-gradient( to left, white, rgb(0,255,255) );
}

.content-right {
  background: linear-gradient(to left, white, rgb(0,255,255) );
}

.korean-text {
  padding-left: 10%;
  width: 80%;
}

.korean-title {
  text-decoration: underline;
  font-size : 3vh;
}

.english-text {
  padding-left: 10%;
  width: 80%;
}

.english-title {
  text-decoration: underline;
  font-size : 3vh;
}
