body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
}

.banner-wrapper {
  position: fixed;
  background-color: rgb(139, 255, 145);
  display: flex;
  height: 4.1vh;
  overflow: hidden;
}

.banner {
  width: 100vw;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

@keyframes marquee {
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 812px) {
  .banner-wrapper{
    height: 6vw;
  }
}

.container {
  position: relative;
  width: 100%;
}

.content-wrapper {
  position: fixed;
  padding-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  grid-template-rows: 10vh 10vh 10vh 10vh;
  height: 0px;

}

.nav-top {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  height: 10vh;
  position: fixed;
  top: 3.3vh;
  width: 100%;
  
}

.nav-top.habitants {
  background-color: rgb(127,84,255);
}

.menu-title {
  text-align: center;
  font-size: 4vh;
}

.menu-exit {
  text-align: center;
  padding-left: 20%;
}

.content {
  position: relative;
  top: 13.3vh;
  width: 100vw;
  z-index: -1;
}

.content.habitants {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habitant {
  width: 100%;
  height: 10vh;
  display:flex;
  align-items: center;
  flex-direction: row;
  background: linear-gradient( to bottom, white, rgb(127,84,255) );
  border: black;
  overflow: hidden;
}

.habitant-name {
  font-size: 3vh;
  width: 100%;
  animation-name: marquee-habitant;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes marquee-habitant {
  from {
    transform: translate(1000%)
  }
  to {
    transform: translate(-100%);
  }
}

.habitant:hover {
  background: rgb(139, 255, 145);
  background-color: rgb(139, 255, 145);
}

.slidedown {
  background: linear-gradient(to bottom, white, rgb(139, 255, 145));
  position: relative;
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  flex-direction: row;
  padding-right: 5%;
}

.habitant-photo {
  width: 33vw;
}

.habitant-koreantext {
  width: 33vw;
  padding-left: 5vw;
  padding-top: 2vh;
}

.habitant-koreantitle {
  text-decoration: underline;
  font-size: 4vh;
}

.habitant-koreancontent {
  padding-top: 2vh;
  font-size: 2vh;
}

.habitant-englishtext {
  width: 33vw;
  padding-left: 5vw;
  padding-top: 2vh;
}

.habitant-englishtitle {
  text-decoration: underline;
  font-size: 4vh;
}

.habitant-englishcontent {
  padding-top: 2vh;
  font-size: 2vh;
}

.hidden {
  display: none !important;
}
