body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  margin: 0px;
}

.banner-wrapper {
  position: fixed;
  background-color: rgb(139, 255, 145);
  display: flex;
  height: 4.1vh;
}

.banner {
  width: 100vw;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

@keyframes marquee {
  100% {
    transform: translate(-100%);
  }
}

@media (max-width: 812px) {
  .banner-wrapper{
    height: 6vw;
  }
}
