@font-face {
  font-family: 'Gothic A1';
  src: url(./GothicA1-Medium.ttf);
  unicode-range: U+AC00–D7AF;
}

* {
  font-family: Helvetica, "Helvetica Neue", "Gothic A1", Arial, sans-serif !important;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.banner-wrapper {
  top:0;
  position: fixed !important;
  background-color: rgb(139, 255, 145);
  display: flex;
  width: 100vw;
  min-height: 4vh;
  overflow: hidden;
  z-index: 2;
}

.banner-1, .banner-2 {
  /* width: 100vw; */
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  font-size: 18px;
  flex-wrap: keep;
  letter-spacing: 2px;
}

@keyframes marquee {
  100% {
    transform: translate(-50%);
  }
}

.banner-1 div, .banner-2 div {
  min-width: 200px;
  text-align: center;
}

#loading {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: linear-gradient(to bottom, rgb(127, 84, 255), white, rgb(139, 255, 145));
  text-align: center;
}

#loading div {
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  margin-top: 100px;
}

.fadeout {
  animation: fadeout 0.5s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* layout */

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-wrapper.invisible-cities {
  height: 50vh;
  overflow: hidden;
}


.nav-top {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 4vh;
  position: fixed;
  z-index: 2;
}

.menu {
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-title {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
}

.menu-exit {
  text-align: center;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  top : 12vh;
  flex: 1;
  display: flex;
}

.content.habitants, .content.data-silo {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* color */

.habitants {
  background-color: rgb(127, 84, 255);
}

.habitants-gradient {
  background: linear-gradient(to bottom, white, rgb(127, 84, 255));
}

.nav-top.data-silo {
  background-color: rgb(255, 0, 0);
}

.data-silo-gradient {
  background: linear-gradient(to bottom, white, rgb(255, 0, 0));
}

.invisible-cities {
  background-color: rgb(217, 255, 0);
}

.invisible-cities-gradient {
  background: linear-gradient(to top, rgb(217, 255, 0), white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.invisible-cities-gradient:hover{
  background: rgb(139, 255, 145);
}

.about {
  background-color: rgb(0, 255, 255);
}

.about-gradient {
  background: linear-gradient(to left, white, rgb(0,255,255));
}

.credits {
  background-color: rgb(255, 0, 255);
}

.credits-gradient {
  background: linear-gradient(to bottom, white, rgb(255, 0, 255));
}

/* content */



.photo, .korean-text, .english-text {
  padding: 4vh 4vw;

}



.photo>img{
  padding-top: 49px;
  width: 70%;
  height: auto;

}

.photo-caption{
  padding-top: 5vh;
  width: 100%;
  text-align: center;
}

.korean-title {
  text-decoration: underline;
  font-size: 20px;
  text-underline-position: under;
  line-height: 36px;
  word-break: keep-all;
  margin-bottom: -5px;
  text-align: center;

}

.english-title {
  text-decoration: underline;
  font-size: 20px;
  text-underline-position: under;
  line-height: 27px;
  word-break: keep-all;
  text-align: center;

}

.korean-content {
  /* padding-top: 2vh; */
  font-size: 15px;
  /* margin: 0; */
  word-break: normal;
  line-height: 26px;

}

.english-content {
  font-size: 14px;
  /* margin: 0; */
  word-break: keep-all;
  line-height: 24px;

}

/* habitants & data silo */

.list-item {
  width: 100%;
  height: 8vh;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border: black;
  overflow: hidden;
  font-size: 24px;
  letter-spacing: 2px;
}

.list-item-banner-1, .list-item-banner-2 {

  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  flex-wrap: keep;
  font-size: 24px;
  letter-spacing: 2px;

}

.list-item-banner-1 div, .list-item-banner-2 div {
  min-width: 280px;
  text-align: center;
}

/* @keyframes marquee-habitant {
  from {
    transform: translate(1000%)
  }
  to {
    transform: translate(-100%);
  }
} */

.list-item:hover {
  background: rgb(139, 255, 145);
}

.slidedown {
  background: linear-gradient(to bottom, white, rgb(139, 255, 145));
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr;
  width: 100%;
}

.photo {
  width: 15vw;
  display: flex;
  align-items: start;
  justify-content: start;
}

.hidden {
  display: none !important;
}

/* media queries */

@media (max-width: 812px) {
  .banner-wrapper{
    height: 6vw;
  }

  .content {
    flex-direction: column;
  }

  .content.about {
    background: linear-gradient(to bottom, white, rgb(0,255,255));
  }

  .korean-text, .english-text {
    background: none;
  }

  .korean-text {
    width: 30vw;
    padding-bottom: 0;
  }

  .english-text {
    width: 30vw;
    padding-top: 0;
  }



  .photo{
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:10vw;
  }
  .photo>img{
    padding-top: 49px;
    width: 70%;
    height: auto;
  
  }
  
  .photo-caption{
    padding-top: 5vh;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 812px){
  .habitants-gradient:hover {
    background: linear-gradient(to bottom, white, rgb(127, 84, 255));

  }

  .data-silo-gradient:hover{
    background: linear-gradient(to bottom, white, rgb(255, 0, 0));
  }

  .list-item-enlarge{
    text-align: center;
    font-size: 2vw;
  }
}

@media (max-width: 600px){
  .list-item-enlarge{
    text-align: center;
    font-size: 10px;
  }
}

/* temp */

.content.invisible-cities{
  height: 86vh;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-direction: column;
  overflow: hidden;
}

.invisible-cities-gradient {

  width: 100vw;
  height: 100%;

}

.content.credits {
  flex-direction: column;
}

.content.credits .credits-gradient {
  height: 100%;
  flex: 1;
}


.footer-item-data{
  z-index: 0;
  background: linear-gradient(to bottom, white, rgb(255, 0, 0));
  height: 20vh;
  width: 100%;
}

.footer-item-habitants{
  z-index: 0;
  background: linear-gradient(to bottom, white,rgb(127, 84, 255));
  height: 20vh;
  width: 100%;
}


a:link{
  color: black;
  text-decoration: none;
}

.menu-popup{
  height: 100vh;
  width: 300px;
  background-color: white;
  font-size: 24px;
  color: black;
  position: fixed;
  z-index: 1;
}

.menu-text{
  position: relative;
  top: 130px;
  left: 35px;
  line-height: 40px;
}

.mt:hover{
  text-decoration: underline;
}

.menu-sns{
  position: absolute;
  left: 35px;
  bottom: 5%;
  display: flex;
  height: 27px;
  width: 80px;
  justify-content: space-around;
}

.logo.facebook{
  width: 27px;
  height: auto;
}

.logo.instagram{
  width: 27px;
  height: auto;
}

a:visited{
  color: black;
}

@media (max-width: 400px){
  .menu-popup{
    width: 100vw;
  }

}

.invisible-cities-each-wrapper{
  top: 12vh;
  position: relative;
  z-index: 1;
  height: auto;
  display: flex;
}

.invisible-cities-each-exit{
  position: absolute;
  right: 18px;
  top: 20px;
}

.invisible-cities-each-text{
width: 50vw;
min-height: 100vh;
height: auto;
background: linear-gradient(to right, rgb(217, 255, 0), white);
}

.invisible-cities-each-exit{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.invisible-cities-title{
  text-align: center;
text-decoration: underline;
font-size: 24px;
margin-top: 50px;
margin-bottom: 20px;
}

.invisible-cities-name{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

.invisible-cities-content{
  margin: 80px;
  line-height: 30px;
  font-size: 15px !important;
}